html {
    background-image: url("/res/png/fon1.jpg");
    object-fit: cover;
}
header{
    background: #f6f6f6;
    position: fixed;
    top: 3%;
    left: 5%;
    width: 90%;
    height: 15%;
}
body{
    background-image: url("/res/png/Shema.png");
    object-fit: cover;

    position: fixed;
    top: 19%;
    left: 5%;
    width: 90%;
    height: 70%;
    margin:0px;

}
footer{
    background-color: #ffffff;
    position: fixed;
    top: 90%;
    left: 5%;
    width: 90%;
    height: 7%;

}
section {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
img{
    width: 30%;
}
#img{
    object-fit: contain;
}


.container {
    width: 100%;
    max-width: 1024px; /*максимальная ширина может иметь другое значение*/
    padding: 15px;
    margin: 0 auto;
}
.container:after, .row:after {
    content: "";
    display: table;
    clear: both;
}
.logo {
    float: left;

}
nav {
    float: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    margin: 10px;
    padding: 10px;
    display: inline-block; /*один из способов разместить элементы в строку*/
}
#header{
    background: #8b0000;
    position: fixed;
    left: 5%;
    width: 90%;
    height:150px;
}
#menu{
    background: #ffffff;
    position:absolute;
    top: 3%;
    left: 3%;
    width: 10%;
    height: 94%;

}
#content{
    background:oldlace;
    position:absolute;
    top: 3%;
    left: 16%;
    width: 81%;
    height: 94px;
}
#news{
    background:yellow;
    width:150px;
    height:280px;
    position:absolute;
    left:365px;
    top:10px;
}
#footer{
    background: #ffffff;
    position: fixed;
    left: 5%;
    width: 90%;
    height:100px;
}
.row {
    margin-bottom: 15px;
}




button {
    position: relative;
    display: inline-block;
    font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    color: rgb(245,245,245);
    text-shadow: 0 -1px rgba(0,0,0,.1);
    text-decoration: none;
    user-select: none;
    padding: .3em 1em;
    outline: none;
    border: none;
    border-radius: 3px;
    background: #525452 linear-gradient(#acbcb7, #7f8a7f);
    box-shadow: inset #2645de 0 -1px 1px, inset 0 1px 1px #8da5ee, #3c58aa 0 0 0 1px, rgba(0,0,0,.3) 0 2px 5px;
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
}
input.button:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    cursor: pointer;
}
input.button:active {
    top: 1px;
    color: #fff;
    text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
    box-shadow: 0 -1px 3px rgba(0,0,0,.3), 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
}
@-webkit-keyframes pulsate {
    50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
@keyframes pulsate {
    50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}

a.button5 {
    display: inline-block;
    color: #000;
    font-size: 12px;
    text-decoration: none;
    user-select: none;
    padding: 0 5px;
    outline: none;
    border-radius: 2px;
}
a.button5:before {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;  /* для больших картинок 0 */
    padding-right: 5px;
}
/*a.button5[data-twitter]:before {content: url(http://favicon.yandex.net/favicon/twitter.com);}*/
/*a.button5[data-vk]:before {content: url(http://favicon.yandex.net/favicon/vk.com);}*/
/*a.button5[data-facebook]:before {content: url(http://favicon.yandex.net/favicon/facebook.com);}*/
a.button5:hover {
    background: linear-gradient(#ececeb, #eaeaea);
    box-shadow:
            inset rgba(0,0,0,.5) 0 -1px 1px,
            inset rgba(0,0,0,.2) 0 1px,
            inset #fff 0 2px,
            rgba(0,0,0,.2) 0 1px 1px;
}
a.button5:active {
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.1));
    box-shadow:
            inset rgba(0,0,0,.8) 0 1px 2px,
            inset rgba(0,0,0,.05) 0 -1px 0,
            #fff 0 1px 1px;
}





